.container 
{
    padding: 20px;
    border : 5px solid #ddd;
    background-color: rgb(255, 254, 254);
}
.card 
{
    marginTop : 20px;
    width: 100%;
    border : none;
}

.text 
 {
    text-align : center;
    font-weight : bolder;
    font-size : 40px;
    color: black;
    text-shadow : 3px 3px 4px rgb(129, 186, 233)
 }
    
.buttonContainer 
 {
    margin : 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
 }
 .taskContainer 
 {
    background-color : rgb(4, 9, 53) ;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    border-radius: 20px;
 }
 .taskContainer:hover 
 {
   padding : 50px 20px;
   transition: 0.5s;
   transform: scale(1.01)
 }
 
 .icon {
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
 }
 #edit{
   color: green;
   background-color:white;
    border: 1px solid green;
 }
 #delete{
   color: red;
   background-color:white;
    border: 1px solid red;
 }
 #check{
   color: green;
   background-color:white;
   border: 1px solid green;
 }
 .inp
 {
   width:95%;
   border:none;
   border-bottom: 1px solid #000000;
 }
 .todoAddress
 {
   font-size:26px;
 }
 @media(max-width: 768px)
 {
   .taskContainer {
      flex-direction: column;
      align-items:center;
      rotate: 180deg;
   }
   .stack,
   .todoAddress
   {
      rotate: 180deg;
   }
   .icon
   {
      padding:5px;
      font-size: 18px;

   }
   
 }

 .btnn
 {
   color:red;
   background-color: #ddd;
 }
